<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>zoo-map</title>
  <script src="https://unpkg.com/vue@2.5.17"></script>
  <script src="https://unpkg.com/vue-router@3.0.1"></script>
</head>
<body>
  <div id="app">
    <router-link to="/">TOP</router-link>
    <router-link to="/animals">動物一覧</router-link>
    <router-view></router-view>
  </div>

  <script type="text/x-template" id="animal-list">
    <div>
      <div class="loading" v-if="loading">読込中...</div>
      <div class="error" v-if="error">{{ error }}</div>
      <div v-for="animal in animals" :key="animal.id">
        <router-link :to="{ path: '/animals/' + animal.id }">{{ animal.name }}</router-link>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="animal-create">
    <div>
      <div class="sending" v-if="sending">送信中...</div>
      <div>
        <h2>新規動物登録</h2>
        <div>
          <label>名前：</label>
          <input type="text" v-model="animal.name">
        </div>
        <div>
          <label>説明：</label>
          <textarea type="text" v-model="animal.description"></textarea>
        </div>
        <div class="error" v-if="error">{{ error }}</div>
        <div>
          <input type="button" @click="createAnimal" value="送信">
        </div>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="animal-detail">
    <div>
      <div class="loading" v-if="loading">読込中...</div>
      <div class="error" v-if="error">{{ error }}</div>
      <div v-if="animal">
        <h2>{{ animal.name }}</h2>
        <p>{{ animal.description }}</p>
      </div>
    </div>
  </script>

  <script>
  var animalData = [
    {
      id: 1,
      name: 'ニホンザル',
      description: 'ウキッ...!!'
    },
    {
      id: 2,
      name: 'アフリカゾウ',
      description: 'ぱおーん。'
    },
    {
      id: 3,
      name: 'レッサーパンダ',
      description: '...!!'
    }
  ]

  var getAnimals = function (callback) {
    setTimeout(function () {
      callback(null, animalData)
    }, 1000)
  }

  var getAnimal = function (animalId, callback) {
    setTimeout(function () {
      var filteredAnimals = animalData.filter(function (animal) {
        return animal.id === parseInt(animalId, 10)
      })
      callback(null, filteredAnimals && filteredAnimals[0])
    }, 1000)
  }

  var postAnimal = function (params, callback) {
    setTimeout(function () {
      params.id = animalData.length + 1
      animalData.push(params)
      callback(null, params)
    }, 1000)
  }

  var animalCreate = {
    template: '#animal-create',
    data: function () {
      return {
        sending: false,
        animal: this.defaultAnimal(),
        error: null
      }
    },
    created: function () {
    },
    methods: {
      defaultAnimal: function () {
        return {
          name: '',
          description: ''
        }
      },
      createAnimal: function () {
        if (this.animal.name.trim() === '') {
          this.error = '名前は必須です'
          return
        }
        if (this.animal.description.trim() === '') {
          this.error = '説明は必須です'
        }
        postAnimal(this.animal, (function (err, user) {
          this.sending = false
          if (err) {
            this.error = err.toString()
          } else {
            this.error = null
            this.animal = this.defaultAnimal()
            alert('新規動物が登録されました')
            this.$router.push('/animals')
          }
        }).bind(this))
      }
    }
  }

  var animalList = {
    template: '#animal-list',
    data: function () {
      return {
        loading: false,
        animals: function () { return [] },
        error: null
      }
    },
    created: function () {
      this.fetchData()
    },
    watch: {
      '$route': 'fetchData'
    },
    methods: {
      fetchData: function () {
        this.loading = true
        getAnimals((function (err, animals) {
          this.loading = false
          if (err) {
            this.error = err.toString()
          } else {
            this.animals = animals
          }
        }).bind(this))
      }
    }
  }

  var animalDetail = {
    template: '#animal-detail',
    data: function () {
      return {
        loading: false,
        animal: null,
        error: null
      }
    },
    created: function () {
      this.fetchData()
    },
    watch: {
      '$route': 'fetchData'
    },
    methods: {
      fetchData: function () {
        this.loading = true
        getAnimal(this.$route.params.animalId, (function (err, animal) {
          this.loading = false
          if (err) {
            this.error = err.toString()
          } else {
            this.animal = animal
          }
        }).bind(this))
      }
    }
  }

  var router = new VueRouter({
    routes: [
      {
        path: '/',
        component: {
          template: '<div>トップページです。</div>'
        }
      },
      {
        path: '/animals',
        component: animalList
      },
      {
        path: '/animals/new',
        component: animalCreate
      },
      {
        path: '/animals/:animalId',
        component: animalDetail
      }
    ]
  })

  var app = new Vue({
    router: router
  }).$mount('#app')
  </script>
</body>
</html>